{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Edit Firewall Rule</h2>

  <form method="POST" class="form-grid">
    <input
            type="number"
            name="priority"
            value="{{ rule.priority }}"
            required
    >

    <select name="action">
      <option value="ALLOW" {% if rule.action == "ALLOW" %}selected{% endif %}>
      ALLOW
      </option>
      <option value="DENY" {% if rule.action == "DENY" %}selected{% endif %}>
      DENY
      </option>
    </select>

    <input
            name="protocol"
            placeholder="Protocol"
            value="{{ rule.protocol or '' }}"
    >

    <input
            name="dst_port"
            placeholder="Port"
            value="{{ rule.dst_port or '' }}"
    >

    <button type="submit">Save Changes</button>
  </form>
</div>

{% endblock %}
